@tailwind base;
@tailwind components;
@tailwind utilities;

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @apply text-center mt-16 max-w-3xl mx-auto;
}

h1 {
  @apply text-2xl mb-2;
}

img {
  @apply max-w-sm;
}

input,
label {
  @apply cursor-pointer;
}

label {
  @apply p-3 text-gray-800;
}

label::selection {
  @apply bg-none;
}
